.toolbar-spacer {
    flex: 0.2 1 ;
    margin-left: 0.5cm;
}

.toolbar {
    background-color: black;
    background:  transparent;
    margin-right:  0 ;
    position: fixed ;
}
.toolbar-name {
    font-family: Monotype Corsiva;
    font-size: 99px;
    margin-left: 15% ;
    text-align: left;
    color: white;
}
.body{
    // width: 100%;
    position:static;

 
}
.toolbar-option{
    margin-left: 20px;
    font-size: 16px;
    text-align: left;
    line-height: 43px;
    color: rgb(146, 146, 146);
}