.toolbar-spacer {
  flex: 0.1 1 auto;

}

.toolbar {
 background-color: black;
 background:  transparent;
 margin-left:  20%  ;
 margin-right:  0 ;
}
.toolbar-name {
    font-family: Monotype Corsiva;
    font-size: 99px;
}